
h1, h4, h2, h3, div {
  font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Geneva,Verdana,sans-serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #E0FFFF;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
}

.home {
  float: left;
}


li a {
  float: right;
  display: block;
  color: grey;
  text-align: center;
  padding: 26px 30px;
  text-decoration: none;
  font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Geneva,Verdana,sans-serif;
  font-size: 20px;
  margin-left: 0;
  margin: auto;

}

li a:hover {
  background-color: #00E6E6;
}

.soul {
  font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Geneva,Verdana,sans-serif;
  font-size: 14px;
}

p {
  font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Geneva,Verdana,sans-serif;
  font-size: 19px;
}


.nav {
  padding: 30px;
  margin-top: 70px;
  height: 1600px;
}

* {
  box-sizing: border-box;
}


.column {
  float: left;
  width: 50%;
  padding: 5px;
}

.columnsoul {
  float: left;
  width: 33.3%;
  padding: 5px;
}

.columnabout {
  float:left;
  width: 25%;
  padding: 5px;
}

.imgsoul {
  width: 300px;
  height: 200px;
}
.columnmusic {
  float: left;
  width: 33.3%;
  padding: 5px;
}
/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
  overflow: hidden;
}

.medimg1 {
  width: 560px;
  height: 315px;
}


body,
#slider,
.wrap,
.slide-content {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.wrap {
  position: relative;
}

.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide2 {
  background-image: url("https://images.pexels.com/photos/37351/silhouette-aerialist-female-woman.jpg?auto=compress&cs=tinysrgb&dpr=2&w=500");
}
.slide1 {
  background-image: url("https://images.pexels.com/photos/668353/pexels-photo-668353.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
}
.slide3 {
  background-image: url("https://images.pexels.com/photos/1051449/pexels-photo-1051449.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
}

.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slide-content span {
  font-size: 5rem;
  color: #fff;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  width: 0;
  height: 0;
  border-style: solid;
}

#arrow-left {
  border-width: 30px 40px 30px 0;
  border-color: transparent #fff transparent transparent;
  left: 0;
  margin-left: 30px;
}

#arrow-right {
  border-width: 30px 0 30px 40px;
  border-color: transparent transparent transparent #fff;
  right: 0;
  margin-right: 30px;
}
