nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #E0FFFF;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
}

.home {
  float: left;
}

.navbar {
  float: right;
  display: block;
  color: grey;
  text-align: center;
  padding: 26px 30px;
  text-decoration: none;
  font-family: 'Droid Sans Mono';
  font-size: 20px;
  margin-left: 0;
  margin: auto;

}

.navbar:hover {
  background-color: #00E6E6
}
